<launch>
    <include file="$(find-pkg-share witmotion_ros)/launch/wt901.launch.py">
        <arg name="node_name" value="imu"/>
    </include>
    
     <include file="$(find-pkg-share vesc_driver)/launch/vesc_driver_node.launch.py">
        <arg name="node_name" value="vesc_driver"/>
    </include>
    
    <include file="$(find-pkg-share vesc_ackermann)/launch/ackermann_to_vesc_node.launch.xml">
       <arg name="node_name" value="ackermann_to_vesc_node"/>
    </include>
    
    <include file="$(find-pkg-share vesc_ackermann)/launch/vesc_to_odom_node.launch.xml">
       <arg name="node_name" value="vesc_to_odom_node"/>
    </include>
</launch>
