<launch>
    <!-- Launch node for the GPS -->
    <node pkg="atgm336h5n3x" exec="gps_node" name="gps_node" output="screen"/>

<!-- IMU node -->
    <node pkg="imu_cpp" exec="imu_cpp" name="imu_cpp" output="screen"/>

    <!-- VESC driver node -->
    <node pkg="vesc_driver" exec="vesc_driver" name="vesc_driver_node" output="screen"/>
</launch> 
