<launch>
    <include file="$(find-pkg-share vesc_driver)/launch/vesc_driver_node.launch.py">
        <arg name="node_name" value="vesc_driver"/>
    </include>
    
    <include file="$(find-pkg-share vesc_ackermann)/launch/ackermann_to_vesc_node.launch.xml">
       <arg name="node_name" value="ackermann_to_vesc_node"/>
    </include>
    
    <!--
    <node pkg="ackermann_message" exec="drive_no_s" name="drive_no_s" output="screen"/>
    -->
    
</launch>
