
<launch>
    <include file="$(find-pkg-share witmotion_ros)/launch/wt901.launch.py">
        <arg name="node_name" value="imu"/>
    </include>
    
     <include file="$(find-pkg-share vesc_driver)/launch/vesc_driver_node.launch.py">
        <arg name="node_name" value="vesc_driver"/>
    </include>
    
    <include file="$(find-pkg-share vesc_ackermann)/launch/ackermann_to_vesc_node.launch.xml">
       <arg name="node_name" value="ackermann_to_vesc_node"/>
    </include>
    
    <include file="$(find-pkg-share vesc_ackermann)/launch/vesc_to_odom_node.launch.xml">
       <arg name="node_name" value="vesc_to_odom_node"/>
    </include>
    
    <include file="$(find-pkg-share rob_lowe_launch)/launch/ekf.launch.py">
       <arg name="node_name" value="ekf_filter_node"/>
    </include>
    
    
    <node pkg="tf2_ros" exec="static_transform_publisher" name="imu_to_base_link_transform">
        <param name="x" value="0.127" />
        <param name="y" value="0" />
        <param name="z" value="0" />
        <param name="roll" value="0" />
        <param name="pitch" value="0" />
        <param name="yaw" value="0" />
        <param name="frame_id" value="imu" />
        <param name="child_frame_id" value="base_link" />
    </node>
    
    <node pkg="navigation" exec="waypoints" name="waypoints" output="screen"/>
  
    <!--
    <node pkg="navigation" exec="driving" name="driver" output="screen"/>
    -->

    <!--
    <node pkg="button_publisher" exec="button_publisher" name="button_state" output="screen"/>
    -->

</launch>
